$primary-purple: #5a00ea;
$primary-pink: #d95ecb;
$primary-blue: #597aef;
$primary-yellow: #ffb82c;
$primary-dark-purple: #6757ac;
$primary-dark-gray: #505050;
$primary-gray: #7c7c7c;
$primary-light-gray: #e6e6e6;
